{% extends "agents/agent_base.html" %}
{% block title %}Agent Profile{% endblock title %}
{% block header %}Agent Profile{% endblock header %}

{% block content %}
  <form method="get" action="" enctype='multipart/form-data' >
    <ul>
        {% if agent.user.profile_image %}
          <img src="{{ agent.user.profile_image.url}}" class="img1" alt="..." />
        {% endif %}
        <li>Email: {{ agent.user.email }}</li>
        <li>First Name: {{ agent.user.first_name }}</li>
        <li>Last Name: {{ agent.user.last_name }}</li>
        <li>Current salary: {{ agent.salary }}</li>

        <li>Affiliate name: {{ agent.affiliate.name }}</li>
        <li>Affiliate address: {{ agent.affiliate.address }}</li>
        <li>Affiliate phone: {{ agent.affiliate.phone }}</li>

        <p>Current timezone: {{user_timezone}}</p>
        <p>Current date: {{current_date_formatted}}</p>
        <p>Calendar?: {{calendar_text}}</p>
  </ul> 
  </form>
{% endblock content %}

