<form method="POST" action="{% url 'change_password' user.id%}">
    {% csrf_token %}
    <div class="form-group">
        <label class="d-block">Change Password</label>
        <input type="password" class="form-control" name="old_password" placeholder="Enter your old password">
        <input type="password"class="form-control mt-1" name="new_password1" placeholder="New password">
        <input type="password" class="form-control mt-1" name="new_password2" placeholder="Confirm new password">
        <input  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Save changes" />
    </div>
</form> 