<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="full-height">
        <div class="form-box">
          <form method="POST" action="{% url 'change_password' user.id%}">
            {% csrf_token %}
            <div class="form-group">
                <h1 class="d-block">Change Password</h1>
                {% if form.errors %}
                    <p class="alert alert-danger">
                        Please correct the error below.
                    </p>
                {% endif %}
                <input type="password" class="form-control" name="old_password" placeholder="Enter your old password">
                {% if form.old_password.errors %}
                    <div class="alert alert-danger">
                        {{ form.old_password.errors }}
                    </div>
                {% endif %}
                <input type="password"class="form-control mt-1" name="new_password1" placeholder="New password">
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
                <input type="password" class="form-control mt-1" name="new_password2" placeholder="Confirm new password">
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
                <input  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Save changes" />
            </div>
        </form>
        </div>
    </div>

  </body>
</html>