{% extends "clients/client_base.html" %}
{% block title %}Client Profile{% endblock title %}
{% block header %}Client Profile{% endblock header %}

{% block content %}
  <form method="get" action="" enctype='multipart/form-data' >
      <ul>
          {% if client.user.profile_image %}
            <img src="{{ client.user.profile_image.url}}" class="img1" alt="..." />
          {% endif %}
              <li>Email: {{ client.user.email }}</li>
              <li>First Name: {{ client.user.first_name }}</li>
              <li>Last Name: {{ client.user.last_name }}</li>
              <li>Address: {{ client.address }}</li>
              <li>Phone: {{ client.phone }}</li>
              <li>Gender: {{ client.user.gender }}</li>
              <li>Age: {{ client.user.age }}</li>
              <li>Date of birth: {{ client.user.date_birth }}</li>
              <li>Your balance: {{ client.balance }} BYN</li>
              <li>Date Created: {{ client.user.created_at }}</li>
              <li>Last Date Updated: {{ client.user.updated_at }}</li>
              <p>Current timezone: {{user_timezone}}</p>
              <p>Current date: {{current_date_formatted}}</p>
              <p>Calendar?: {{calendar_text}}</p>
      </ul>
  </form>
{% endblock content %}
