{% extends "clients/client_base.html" %}
{% block title %}Client Profile{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center full-height">
    <div class="form-box">
      {% if messages %}
          <div class="messages">
              {% for message in messages %}
                  <div class="alert alert-danger" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          </div>
      {% endif %}
      <form method="POST" action="{% url 'client_update' user.id%}" enctype="multipart/form-data">
          {% csrf_token %}
          <h1>Update Account</h1>
          {% for field in form %}
              <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.errors %}
                      <div class="invalid-data d-inline-block ml-2">
                          {{ field.errors|first }}
                      </div>
                  {% endif %}
              </div>
          {% endfor %}
          <input class="btn btn-success" type="submit" value="Submit" />
      </form>
    </div>
  </div>
{% endblock content %}