{% extends "main/base.html" %}
{% block title %}Feedbacks {% endblock title %}
{% block header %}Feedbacks{% endblock header %}

{% block content %}
    <ul>
        {% for item in feedbacks %}
            <p class="truncate">Client: {{ item.client.user }}</p>
            <p class="truncate">Title: {{ item.title }}</p>
            <p class="truncate">Description: {{ item.description }}</p>
            <p class="truncate">Rating: {{ item.rating }}</p>
            <p class="truncate">Created at: {{ item.created_at }}</p>
            <hr>
        {% endfor %}
    </ul>
{% endblock content %}

